

@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";
@import "all.min.css";

$font-color: #4d4d4d;
$white-color: white;
$silver-color: #f6f6f6;
$hover-color: #dedede;

@mixin max-screen($res){
  @media screen and (max-width: $res){
    @content
  }
}
@mixin min-screen($res){
  @media screen and (min-width: $res){
    @content
  }
}
%title {
  color: $font-color;
  @include min-screen(992px){
    font-size: 46px;
  }
  @include max-screen(767px){
    font-size: 21px;
  }
  &:before {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    background-color: $font-color;
    margin: auto auto 20px;
  }
}
  %title2{
    color: $font-color;
    @include min-screen(992px){
      font-size: 46px;
    }
    &:before{
      content: '';
      display: block;
      width: 60px;
      height: 2px;
      background-color: $font-color;
      margin: 0 0 20px;
    }
}
  %button{
    border: solid 1px black;
    background-color: transparent;
    border-radius: 0;
    width: 130px;
    color: $font-color;
  }
  %btn_hover{
      background-color: white;
      border: solid 1px transparent;
      color: black;
      -webkit-box-shadow: 0 2px 10px 0 #000000;
      box-shadow: 0 2px 10px 0 #000000;
  }


header {
  background: url("../images/hero_img.png") no-repeat center;
  background-size: cover;
  @include max-screen(767px){
    background: url("../images/bg_element.png");
    background-size: cover;
  }
  .down{
    position: absolute;
    bottom: 5%;
    left: 15%;
  }
  .hero {
    padding-top: 25%;
    padding-bottom: 25%;
    position: relative;
    @include max-screen(767px){
      padding-top: 0;
      padding-bottom: 10%;
    }
    h1 {
      color: $font-color;
      @include min-screen(992px){
        font-size: 90px;
      }
      @include max-screen(767px){
        font-size: 30px;
        text-align: center;
      }
      small {
        display: block;
        @include min-screen(992px){
          font-size: 22px;
        }
        @include max-screen(769px){
          font-size: 50%;
        }
        @include max-screen(767px){
          font-size: 12px;
        }
      }
    }
    .btn {
      border: solid 1px black;
      background-color: transparent;
      border-radius: 0;
      width: 130px;
      color: $font-color;
      @include max-screen(767px){
        &:last-of-type{
          margin-top: 10px;
        }
      }
      &:hover{
        background-color: white;
        border: solid 1px transparent;
        color: black;
        -webkit-box-shadow: 0 2px 10px 0 #000000;
        box-shadow: 0 2px 10px 0 #000000;
      }
    }
  }
  .navbar-toggle .icon-bar{
  background-color: black;
  }
  .navbar-toggle{
    border: solid 1px black;
  }
  .container>.navbar-collapse{
    margin: auto;
    text-align: center;
  }
  .navbar-nav>li>a{
    color: $font-color;
    &:focus{
      background: none;
    }
    &:hover{
      border-bottom: solid 2px $font-color;
      padding-bottom: 0;
      background: none;
      @include max-screen(767px){
        border: none;
        padding-bottom: 10px;
        text-shadow: 3px 3px 10px #000000;
      }
      }
    }
}
.about_me {
  padding: 10% 0;
  background-color: $white-color;
  .for_text {
    h2 {
      @extend %title2;
    }
  }
  h2{
    @extend %title;
  }
  p{
    font-size: 16px;
    color: $font-color;
  }
  .btn{
    @extend %button;
    width: auto;
    &:hover{
      @extend %btn_hover;
      background-color: $hover-color;
    }
  }
}
.services{
  background-color: $silver-color;
  padding: 10% 0;
  h2{
    @extend %title;
  }
  .block{
    padding-bottom: 25px;
    text-align: center;
    &:nth-child(2){
      &:before{
        background: url("../images/2.png") no-repeat center;
      }
    }
    &:nth-child(3){
      &:before{
        background: url("../images/3.png") no-repeat center;
      }
    }
    &:nth-child(4){
      &:before{
        background: url("../images/4.png") no-repeat center;
      }
    }
    &:nth-child(5){
      &:before{
        background: url("../images/5.png") no-repeat center;
      }
    }
    &:last-child{
      &:before{
        background: url("../images/6.png") no-repeat center;
      }
    }
    &:before {
      content: "";
      display: block;
      width: 90px;
      height: 81px;
      background: url("../images/1.png") no-repeat center;
      margin: auto;

    }
    a{
      color: #4d4d4d;
      font-size: 24px;
      text-decoration: none;
      //font-family: 'AsapMedium';
      @include max-screen(767px){
        font-size: 14px;
      }
      &:hover{
        text-shadow: 1px 1px 10px #0A0A0A;
        color: black;
      }
    }
  }
}
.my_skills {
  padding: 10% 0;
  background-color: $white-color;
  h2 {
    @extend %title
  }
}
.portfolio {
  background-color: $silver-color;
  padding: 10% 0;
  h2{
    @extend %title;
  }
  .thumbnail {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    &:hover {
      border: none;
      -webkit-box-shadow: 0 0 20px 1px #262626;
      box-shadow: 0 0 20px 1px #262626;
      &:after {
        opacity: 1;
        top: 40%;
      }
    }
    &:after {
      content: "";
      display: block;
      background: url("../images/hover_arrow.png") white;
      position: absolute;
      left: 50%;
      margin-left: -30px;
      top: -40%;
      opacity: 0;
      transition: 0.5s;
      width: 55px;
      height: 55px;
      @include max-screen(992px){
        width: 0;
        height: 0;
      }
    }
  }
  .btn{
    @extend %button;
    &:hover{
      @extend %btn_hover;
      background-color: $hover-color;
    }
  }
}
.testimonials{
  padding: 10% 0;
  h2{
    @extend %title
  }
  .owl-carousel .owl-item img{
    width: 25%;
    margin: 5% 0 5% 5%;
    display: inline-block;
    float: left;
  }
  .owl-carousel {
    //width: 100%;
    border: solid 1px black;

    h4 {
      font-size: 30px;
      color: #212121;
      text-transform: uppercase;
      width: 65%;
      padding-top: 5%;
      float: right;
      //font-family: 'AsapMedium';
      @include max-screen(767px){
        font-size: 15px;
      }
      small{
        display: block;
        font-size: 22px;
        @include max-screen(767px){
          font-size: 8px;
        }
      }
    }
    p {
      font-size: 16px;
      color: #212121;
      width: 65%;
      float: right;
      display: block;
      padding-right: 10%;
      //font-family: 'AsapRegular';
      @include max-screen(767px){
        font-size: 10px;
      }
    }
    button{
      outline: none;
    }
  }

  .owl-dots {
    text-align: center;
    &:focus{
    }
  }


  .owl-carousel button.owl-dot span {
    width: 13px;
    height: 13px;
    background-color: transparent;
    border: solid 1px black;
    display: inline-block;
    margin: 0 5px;
  }

  .owl-carousel button.owl-dot.active span {
    background-color: black;
  }
}
.fun_fact{
  padding: 10% 0;
  background-color: $silver-color;
}
footer{
  background: url("../images/contact bg.png") no-repeat center;
  background-size: cover;
  .btn{
    @extend %button;
    background-color: $white-color;
  }
  .hello{
  h2{
    @extend %title;
    color: $white-color;
    padding-top: 20%;
    padding-bottom: 5%;
  }
}
  .border{
    &:before{
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: $white-color;
      margin-top: 5%;
    }

  }
  .icon {

    a {
      width: 25px;
      height: 25px;
      background-color: $white-color;
      margin-left: 10px;
      float: left;
      margin-top: 10px;
      margin-bottom: 15px;
    .fab {
      font-size: 15px;
      text-align: center;
      margin: 5px;
    }

    .fa-facebook-f {
      margin-left: 10px;
    }

    .fas {
      font-size: 15px;
      text-align: center;
      margin: 5px;
    }

    &:hover {
      background-color: #2aabd2;
      color: white;
      }
    }
  }
  .icon_2{
    a {
      width: 25px;
      height: 25px;
      background-color: $white-color;
      margin-top: 10px;
      margin-bottom: 15px;
      display: inline-block;
      .fab {
        font-size: 15px;
        text-align: center;
        margin: 5px;
      }

      .fa-facebook-f {
        margin-left: 10px;
      }

      .fas {
        font-size: 15px;
        text-align: center;
        margin: 5px;
      }

      &:hover {
        background-color: #2aabd2;
        color: white;
      }
    }
  }


  small{
    margin-top: 10px;
    color: $white-color;
    font-size: 16px;
  }

}